* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  padding-top: 74px;
}
/* SECTION LAYOUT */
.layout-quote {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}
.layout-bible-verse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bible-verse {
  background: none;
  width: 540px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: rgba(59, 61, 68, 0.88);
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}
.bible-verse::selection {
  background-color: #3b3d44;
  color: #fff;
}
.bible-verse::before {
  font-family: 'Noto Serif TC', serif;
  content: ' “ ';
  font-size: 4.3em;
  margin-bottom: -60px;
  margin-left: -38px;
  display: block;
}
.verse-proverbios {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: rgba(59, 61, 68, 0.88);
  font-size: 13px;
  letter-spacing: 0.2em;
}
.verse-proverbios::selection {
  background-color: #3b3d44;
  color: #fff;
}
@media (max-width: 615px) {
  .layout-quote {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .bible-verse {
    width: 310px;
    font-size: 16px;
  }
  .bible-verse::before {
    width: 35px;
    height: 35px;
    font-size: 4em;
    margin-bottom: 20px;
    margin-left: 110px;
  }
  .verse-proverbios {
    font-size: 12px;
    letter-spacing: 0.2em;
    margin: 0;
    margin-top: 8px;
  }
}

/* CONTENT-SECTION */
.backg-content-section {
  background: none;
  padding: 0;
  margin: 0;
}
.content-section-divide {
  background: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.content-section-divide h4 {
  color: rgba(59, 61, 68, 0.88);
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 1.5em;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.content-section-divide h4::selection {
  background-color: #3b3d44;
  color: #fff;
}
@media (max-width: 576px) {
  .content-section-divide h4 {
    font-size: 1.4em;
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
/* QUOTES */
.all-content-section {
  background: #fafafa;
  margin-bottom: 0px;
}
#not {
  pointer-events: none;
}
/* IR A LA SIGUIENTE PÁGINA */
body{
  padding-top: 60px;
}
.flex-next-pages-lessons{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.next-page{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.next-page div{
  width: 27px;
  height: 27px;
  overflow: hidden;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}
.next-page div:hover{
  transform: scale(1.1);
}
.funct-disabled{
  pointer-events: none;
  color: red;
}
.disabled-color{
  color: rgba(59, 61, 68, 0.20) !important;
}
.next-page a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: .8rem;
  padding: 50px 50px;
  font-weight: bolder;
  color: rgba(59, 61, 68, 0.50);
  transition: all .3s ease;
}
.next-page a:hover{
  background: #3b3d44;
  color: #fff;
}
.back-fath-selec{
  transform: scale(1.1);
  pointer-events: none;
}
.back-link-selec{
  background: #3b3d44 !important;
  color: #fff !important;
}
/*---------*/
.style-icon-carot-left{
  margin-right: 15px;
  font-size: 1.8rem;
  transition: all .3s ease;
  position: absdolute;
}
.style-icon-carot-right{
  font-size: 1.8rem;
  margin-left: 15px;
  transition: all .3s ease;
  position: absdolute;
}
.style-icon-carot-left a{
  color: rgba(59, 61, 68, 0.50);
  transition: all .3s ease;
}
.style-icon-carot-left a:hover{
  color: #3b3d44;
}
.style-icon-carot-right a{
  color: rgba(59, 61, 68, 0.50);
  transition: all .3s ease;
}
.style-icon-carot-right a:hover{
  color: #3b3d44;
}
/* ------------------ */
